/*
* @Author: MAIBENBEN
* @Date:   2018-08-15 18:56:16
* @Last Modified by:   MAIBENBEN
* @Last Modified time: 2018-08-16 21:57:47
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: "苹方";
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
body{
	width: 7.5rem;
	height: 23.3rem;
}
header{
	width: 7.5rem;
	height: 2.6rem;
	background: #f31b67;
	overflow: hidden;
}
header .top{
	width: 6.99rem;
	height: 0.49rem;
	margin: 0 auto;
	margin-top: 0.36rem;
	display: flex;
	justify-content: space-between;
}
header .top a{
	display: flex;
	align-items: center;
} 
header .top .back{
	width: 0.49rem;
	height: 0.49rem;
}
header .top .more{
	width: 0.74rem;
	height: 0.49rem;
}
header .yjn{
	width: 5.77rem;
	height: 1.71rem;
	margin-left: 0.74rem;
	display: flex;
	flex-direction: row;
}
header .yjn img{
	width: 1.73rem;
	height: 1.71rem;
}
header .yjn .nav{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 4.04rem;
	height: 100%;
}
header .yjn .nav .one{
	display: flex;
	flex-direction: row;
}
header .yjn .nav .one p{
	font-size: 0.34rem;
	color: #fff;
}
header .yjn .nav .one img{
	width: 0.97rem;
	height: 0.39rem;
	margin-left: 2rem;
}
header .yjn .nav .two{
	display: flex;
	flex-direction: row;
	align-items: center;
}
header .yjn .nav .two p{
	font-size: 0.18rem;
	color: #fff;
}
header .yjn .nav .two img{
	width: 0.22rem;
	height: 0.22rem;
}
header .yjn .nav .four{
	display: flex;
	flex-direction: row;
}
header .yjn .nav .four p{
	font-size: 0.2rem;
	color: #fff;
}
header .yjn .nav .four .money{
	width: 0.8rem;
	height: 0.26rem;
	background: #fff;
	border-radius: 0.22rem;
	font-size:0.2rem;
	text-align: center;
	line-height: 0.26rem;
	color: #f31b67;
	margin-left: 0.5rem;
	margin-right: 0.1rem;
}
.banner{
	width: 7.02rem;
	height: 3.28rem;
	border-radius: .3rem;
	background-image: url('../img/c-banner.png');
	background-repeat: no-repeat;
	background-size: 7.02rem 3.28rem;
	margin-left: .24rem;
	margin-top: .24rem;
	box-shadow: 0 0rem 0.27rem rgba(247, 102, 153, 0.4);
	position: relative;
}

.b-dot{
	width: .74rem;
	height: .28rem;
	background: #f31b67;
	color: #fff;
	border: .02rem solid #fff;
	border-radius: .2rem;
	font-size: .18rem;
	text-align: center;
	line-height: .25rem;
	position: absolute;
	bottom: .14rem;
	right: .37rem;
}
.full{
	width: 1.5rem;
	height: .32rem;
	border: .02rem solid #f31b67;
	border-radius: .3rem;
	font-size: .18rem;
	color: #f31b67;
	background: #fff;
	margin-left: 3.7rem;
	margin-top: .28rem;
	margin-bottom: .34rem;
	text-align: center;
	line-height: .3rem;
}
.car{
	width: 7.02rem;
	height: 2.2rem;
	border-bottom: .1rem solid rgba(247, 102, 153, 0.35);
	margin-left: .24rem;
	margin-top: .32rem;
	padding-left: .17rem;
}
.car p{
	width: 5.8rem;
	height: .32rem;
	color: #898385;
	font-size: .18rem;
	line-height: .3rem;
}
.car h3{
	font-size: .28rem;
	color: #f31b67;
	font-weight: 400;
	margin-top: .28rem;
}
.car a{
	display: block;
	width: 1.64rem;
	height: .38rem;
	color: #fff;
	background: #f31b67;
	border-radius: .3rem;
	font-size: .22rem;
	text-align: center;
	line-height: .35rem;
	margin-left: 5.1rem;
}
.eva{
	width: 7.02rem;
	height: 1.04rem;
	display: flex;
	flex-direction: row;
}
.eva img{
	width: 2.34rem;
	height: .66rem;
	margin-top: .36rem;
	margin-left: .14rem;
}
.eva p{
	font-size: .2rem;
	font-weight: 400;
	color: #a29c9c;
	margin-top: .68rem;
	margin-left: .4rem;
}
.eva a{
	width: 1.16rem;
	height: 0.4rem;
	background: #f31b67;
	color: #fff;
	border-radius: .3rem;
	text-align: center;
	line-height: .4rem;
	font-size: .22rem;
	margin-left: .95rem;
	margin-top: .58rem;
}
.c-head{
	width: 7.02rem;
	height: 1.28rem;
	display: flex;
	flex-direction: row;
}
.c-head img{
	width: 1.28rem;
	height: 1.28rem;
	margin-left: .14rem;
}
.c-head p{
	font-size: .2rem;
	color: #9a9898;
	height: .38rem;
	margin-left: .2rem;
	margin-top: .37rem;
}
.pink{
	width: 5.3rem;
	height: .82rem;
	background: rgba(247, 102, 153, 0.5);
	border-radius: .2rem;
	font-size: .2rem;
	color: #fff;
	padding-left: .35rem;
	padding-top: .14rem;
	margin-left: 1.2rem;
}
.ing{
	width: 7.02rem;
	height: 2.02rem;
	display: flex;
	flex-direction: column;
	margin-bottom: .56rem;
	margin-top: .47rem;
}
.ing img{
	width: 2.38rem;
	height: .68rem;
	margin-left: .14rem;
}
.ing p{
	height: .32rem;
	color: #000;
	font-size: .2rem;
	margin-left: .24rem;
	margin-top: .1rem;

}
.rec{
	width: 7.02rem;
	height: 5.9rem;
	display: flex;
	flex-direction: row;
}
.rec .hh{
	width: 3.1rem;
	height:3.2rem;
	border-radius: .5rem;
	box-shadow: 0 0rem 0.27rem rgba(247, 102, 153, 0.4);
	overflow: hidden;
}
.rec .hh img{
	width:3.1rem;
	height: 3.2rem;
}
img{
	width: 2.96rem;
	height: .55rem;
}
.rec .pic{
	width: 3.5rem;
	height: 4.8rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-left: .4rem;
}
.rec .pic h2{
	color: #000;
	font-size: .28rem;
	margin-top: .28rem;
}
.rec .pic h3{
	color: #6e6b6b;
	font-size: .18rem;
	font-weight: 400;
	margin-top: .1rem;
}
.rec .pic p{
	font-size: .3rem;
	color: #f31b67;
	font-weight: 600;
	margin-top: .12rem;
}

footer{
	width: 100%;
	height: 1.02rem;
	background: #fff;
	position: fixed;
	bottom: 0;
	box-shadow: 0 0rem 0.27rem rgba(247, 102, 153, 0.4);
	display: flex;
	flex-direction: row;
}
footer .zi{
	width: 1.8rem;
	height: 0.6rem;
	display: flex;
	flex-direction: column;
	margin-left: 1.68rem;
}
footer .zi p{
	display: block;
	font-size: 0.24rem;
}
footer .zi p:nth-child(1){
	padding-top: 0.16rem;
}
footer img{
	width: 1.13rem;
	height: 1.13rem;
	position: fixed;
	bottom: 0.24rem;
	left: 0.57rem;
}
footer a{
	width: 1.87rem;
	height: .77rem;
	color: #fff;
	border: .05rem solid #828181;
	background: #a09d9d;
	border-radius: .5rem;
	font-size: .24rem;
	line-height: .66rem;
	position: fixed;
	bottom: .14rem;
	right: .4rem;
	padding-left: .5rem;
}
#dot-all{
	width: .2rem;
	height: .2rem;
	margin-left: 4.94rem;
	margin-bottom: .2rem;
}